---
dcos_version: "2.1.1"
bootstrap_port: 8080
{# If second interface used for for cluster network(e.g. VirtualBox), declare inventory_ip in inventory to hard code ip addresses. #}
dcos_bootstrap_ip: "[% hostvars[groups['bootstraps'][0]].inventory_ip if hostvars[groups['bootstraps'][0]].inventory_ip is defined else hostvars[groups['bootstraps'][0]].ansible_facts.default_ipv4.address %]"

dcos:
  version: "{{ dcos_version }}"
  download: "https://downloads.dcos.io/dcos/stable/{{ dcos_version }}/dcos_generate_config.sh"
  download_checksum: "sha256:8245e93d223b9a1301523d8fdb5157e1549de06dbc68e9f6971a8d3d35b14554"
  download_win: "https://downloads.dcos.io/dcos/testing/master/windows/dcos_generate_config_win.sh"
  enterprise_dcos: false

  # permissive | enforcing
  selinux_mode: permissive

  config:
    # This is a direct yaml representation of the DC/OS config.yaml
    # Please see https://docs.mesosphere.com/1.13/installing/production/advanced-configuration/configuration-reference/
    # for parameter reference.
    cluster_name: "[% dcos_config_cluster_name | default('examplecluster') %]"
    security: strict
    bootstrap_url: "http://{{ dcos_bootstrap_ip }}:{{ bootstrap_port }}"
    exhibitor_storage_backend: static
    master_discovery: static
    master_list: 
    {% for host in groups['masters'] %}
        {#- If second interface used for for cluster network(e.g. VirtualBox), declare inventory_ip in inventory to hard code ip addresses. #}
      - [% hostvars[host]['inventory_ip'] if hostvars[host]['inventory_ip'] is defined else lookup('dig', host) %]
    {% endfor %}

    # This is an ip-detect script example which also stands for ip_detect_public_contents
    # more info about ip-detect can be found here: https://docs.mesosphere.com/1.13/installing/production/deploying-dcos/installation/#create-an-ip-detection-script
    ip_detect_contents: |
      #!/bin/sh
      set -o nounset -o errexit
      ip addr show dev [% ip_detect %] primary | awk '/(inet .*\/)/ { print $2 }' | cut -d'/' -f1

    resolvers: 
    {% for resolver in dcos_config_resolvers %}
      - [% resolver %]
    {% endfor %}
