ansible_ssh_user: "User account used by ansible to connect to remote system; normally a local account with admin privs e.g. devops"
ansible_ssh_pass: ""
ansible_sudo_pass: "The ansible 'become' may prompt with a password challenge. Normally this is the same as 'ansible_ssh_pass'"

serviceUser: "This is an LDAP account that is used to connect to devops systems protected by LDAP accounts e.g. devopssa"
servicePassword: ""
